<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>{{ $isHomePage := eq .Title .Site.Title }}{{ .Title }}{{ if eq $isHomePage false }} - {{ .Site.Title }}{{ end }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/stack-interface.css" rel="stylesheet" type="text/css" media="all">
    <link href="/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <link href="/css/socicon.css" rel="stylesheet" type="text/css" media="all" />
    <link href="/css/stack-interface.css" rel="stylesheet" type="text/css" media="all" />
    <link href="/css/theme.css" rel="stylesheet" type="text/css" media="all" />
    <link href="/css/custom.css" rel="stylesheet" type="text/css" media="all" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:200,300,400,400i,500,600,700" rel="stylesheet"> {{ partial "_ogmeta.html" . }}
    {{ partial "_ogmeta.html" . }}    
    {{ template "_internal/google_analytics_async.html" . }}    
</head>

<body data-smooth-scroll-offset="77">
    {{ partial "_navi.html" .}}        
    <div class="main-container">
        <section class="space--sm">
            <div class="container">
                <div class="row">
                    <div class="col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
                        <div class="masonry masonry-blog-list">
                            <div class="masonry__container masonry--active">
                                {{ range (.Paginator.Pages.ByDate.Reverse) }}
                                <article class="masonry__item">
                                    <div class="article__title text-center">
                                        <a href="{{ .RelPermalink }}">
                                            <h2>{{ .Title }}</h2>
                                        </a>
                                    </div>
                                    <div class="article__body">
                                        {{ .Summary }}
                                        <a href="{{ .RelPermalink }}">Continue reading »</a>
                                    </div>
                                </article>
                                {{ end }}
                            </div>
                            <div class="pagination">{{ partial "_custompagination.html" . }}</div>                                           
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <script src="/js/jquery-3.1.1.min.js"></script>
    <script src="/js/scripts.js"></script>

</body>

</html>