<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>{{ $isHomePage := eq .Title .Site.Title }}{{ .Title }}{{ if eq $isHomePage false }} - {{ .Site.Title }}{{ end }}</title>        
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <link href="/css/stack-interface.css" rel="stylesheet" type="text/css" media="all" />
    <link href="/css/socicon.css" rel="stylesheet" type="text/css" media="all" />
    <link href="/css/theme.css" rel="stylesheet" type="text/css" media="all" />
    <link href="/css/custom.css" rel="stylesheet" type="text/css" media="all" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:200,300,400,400i,500,600,700" rel="stylesheet">
    {{ partial "_ogmeta.html" . }}
    {{ template "_internal/google_analytics_async.html" . }}
</head>

<body data-smooth-scroll-offset="77">
    <div class="nav-container"> </div>
    <div class="main-container">
        <section class="imageblock switchable height-100">
            <div class="imageblock__content col-md-6 col-sm-4 pos-right">
                <div class="background-image-holder">
                    <img alt="Sebastian Ghetu" src="img/me-duotone.jpg"> </div>
            </div>
            <div class="container pos-vertical-center">
                <div class="row">
                    <div class="col-md-5 col-sm-7">
                        <h1>Sebastian
                            <span data-tooltip="It's actually Ghețu and pronnounced &quot;Ghetsu&quot;">Ghetu</span>
                        </h1>
                        <p class="lead">I am meticulous about delivering great user experiences and  simple solutions to complex problems.</p>
                        <ul class="social-list list-inline list--hover">
                            <li>
                                <a href="mailto:sebastian@ghetu.net">
                                    <i class="socicon socicon-mail icon icon--xs"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://linkedin.com/in/sebastianghetu">
                                    <i class="socicon socicon-linkedin icon icon--xs"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://github.com/GSebastian">
                                    <i class="socicon socicon-github icon icon--xs"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.notion.so/Sebastian-Ghetu-edab47d33a364029a46aebcb3fc4cca6">
                                    <b class="icon icon--xs">CV</b>
                                </a>
                            </li>
                            <li class="full-opacity">
                                <a class="btn btn--xs btn--primary" href="./blog">
                                    <span class="btn__text">Blog</span>
                                </a>
                            </li>
                        </ul>
                        <div class="boxed boxed--border boxed--smallpadding feature feature--featured">
                            <h5 class="smallbottom">Experian</h5>
                            <span class="label">Current</span>
                            <p>Helping consumers understand their 'data self' via a cutting-edge iOS app.</p>
                        </div>
                        <div class="boxed boxed--border boxed--smallpadding">
                            <h5 class="smallbottom">Roller Agency</h5>
                            <p>Head of Development at one of Nottingham's leading design and development agencies.</p>
                        </div>
                        <div class="boxed boxed--border boxed--smallpadding">
                            <h5 class="smallbottom">University of Leicester, UK</h5>
                            <p>
                                MSc Advanced Software Engineering awarded with a Distinction.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <script src="/js/jquery-3.1.1.min.js"></script>
    <script src="/js/scripts.js"></script>

</body>

</html>