/*! Blog */

.blog-title {
    line-height: 0.8;
    white-space: nowrap;
}

.blog-title-xs {
    line-height: 0.95;
}

.no-underline:hover {
    border: none;
    text-decoration: none;
}

@media all and (min-width: 446px) {
    .article__share .btn {
        margin-bottom: 15px;
    }
}

/*! Landing page */

.boxed--smallpadding {
    padding: 14px;
}

h5.smallbottom {
    margin-bottom: 10px;
}

.btn--xs {
    padding-left: 12px;
    padding-right: 12px;
}

a.btn.btn--xs {
    margin-top: -0.5em;
}

.feature.boxed {
    margin-bottom: 30px;
}

.imageblock {
    overflow: hidden;
}

/* Pagination */